@import "./src/scss/all.scss";
// @import "open-props/normalize";
// @import "open-props/buttons";

@include my-reset(100%);
@include media-pref-os-light;
@include media-pref-os-dark;
// @include os-dark;
// @include os-light;
// @include media-reduce-motion;

.tracer {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0.2;
}

body {
   display: grid;
   justify-items: center;
   align-items: start;

   font-family: var(--font-primary);
   font-size: var(--font-size);
   // color: var(--white);
}
img {
   max-width: 100%;
}

/* ========= MAIN ========= */
.main {
   --radius: 0.65rem;
   --margin: 0.7em;
   --margin: 2.75rem;
   --grid-gap: var(--size-5);
   --label-gap: var(--size-1);
   --max-input-size: var(--size-13);
   --padding: calc(var(--size-3) * 0.75);
   display: grid;
   grid-template-rows: minmax(15rem, 1fr) minmax(29rem, max-content);
   grid-template-areas:
      "images"
      "data";
   align-items: start;

   min-width: 23.4375rem; // 375px
}

/* ========= CARD PREVIEW ========= */
.card-preview {
   grid-area: images;

   min-height: 100%;
   background-image: url("./src/images/bg-main-mobile.png");
   background-size: cover;
   position: relative;
}
.card-preview > * {
   --inset: var(--size-4);
   position: absolute;
}

.card-front,
.card-back {
   width: clamp(17.85rem, 32vw, 27.875rem);
   color: var(--white);
}
.card-front {
   position: absolute;
   top: 50%;
   left: 5%;

   & > *:not(img) {
      position: absolute;
   }
}
.card-back {
   position: absolute;
   top: 12.5%;
   right: 5%;

   & > *:not(img) {
      position: absolute;
   }
}

.card-cvc {
   font-size: clamp(calc(var(--font-size-0) * 0.85), 1.2vw, var(--font-size-2));
   letter-spacing: var(--font-letterspacing-4);
   top: 44%;
   right: 12.5%;
}
.card-logo {
   --width: 84px;
   --ratio: 1.79;
   width: clamp(54px, 6vw, 84px);
   height: calc(var(--width) / var(--ratio));

   transform-origin: top left;
   top: var(--inset);
   left: var(--inset);
}
.card-number {
   letter-spacing: var(--font-letterspacing-2);
   font-size: clamp(var(--font-size-3), 2vw, calc(var(--font-size-5) * 0.85));
   top: 50%;
   left: var(--inset);
}
.card-holder {
   text-transform: uppercase;
   font-size: clamp(calc(var(--font-size-0) * 0.85), 1.2vw, var(--font-size-2));
   letter-spacing: var(--font-letterspacing-4);
   bottom: var(--inset);
   left: var(--inset);
}
.card-exp {
   font-size: clamp(calc(var(--font-size-0) * 0.85), 1.2vw, var(--font-size-2));
   letter-spacing: var(--font-letterspacing-4);
   bottom: var(--inset);
   right: var(--inset);
}

/* ========= FORM PREVIEW ========= */
.form-preview {
   grid-area: data;
   z-index: 2;

   font-size: var(--font-size-1);
   font-weight: var(--font-weight-5);
   color: var(--very-dark-violet);
   text-transform: uppercase;
   letter-spacing: var(--font-letterspacing-4);
   padding-inline: var(--size-5);
}

.form {
   display: grid;
   gap: calc(1.25 * var(--grid-gap));

   margin-block: calc(1.65 * var(--margin)) var(--margin);
}

.cardholder-area {
   display: grid;
   grid-template-rows: max-content max-content;
   gap: var(--label-gap);
}
.cardholder-input-group {
   display: grid;

   &:focus-within {
      --active: 1;
   }
}

.cardnumber-area {
   display: grid;
   gap: var(--label-gap);
}
.cardnumber-input-group {
   display: grid;

   &:focus-within {
      --active: 1;
   }
}

.expiration-cvc-area {
   display: flex;
   gap: calc(4 * var(--label-gap));
}
.expiration {
   display: grid;
   gap: var(--label-gap);

   position: relative;
}
.expiration-inputs {
   display: flex;
   gap: calc(2 * var(--label-gap));
}
.expiration-input-group {
   display: grid;

   &:focus-within {
      --active: 1;
   }
}

.cvc {
   display: grid;
   gap: var(--label-gap);
}
.cvc-input-group {
   display: grid;

   &:focus-within {
      --active: 1;
   }
}

/* ========= CONF PREVIEW ========= */
.conf-preview,
.conf {
   grid-area: data;
   z-index: 1;

   display: grid;
   grid-template-rows: repeat(4, max-content);
   justify-items: center;
   align-items: center;
   gap: calc(var(--grid-gap) * 0.5);

   padding-inline: var(--size-5);
   margin-block: calc(2 * var(--margin)) var(--margin);

   &-logo {
      margin-block-end: var(--size-5);
   }
   &-heading {
      text-transform: uppercase;
      letter-spacing: var(--font-letterspacing-4);
      color: var(--very-dark-violet);
      font-size: var(--font-size-4);
   }
   &-message {
      font-size: calc(var(--font-size-1) * 1.1);
      text-transform: initial;
      letter-spacing: var(--font-letterspacing-2);
      color: var(--dark-grayish-violet);
      margin-block-end: var(--size-6);
   }
}
.btn--continue {
   justify-self: stretch;
}

/* ========= HIDE PREVIEW ========= */
[data-hidden="true"] {
   visibility: hidden;
   display: none;
   overflow-x: hidden;

   & .form {
      transform: translateX(calc(-105% - 2 * var(--padding)));
   }
}

//**************************************
//* ========= MEDIA QUERIES ========= */
//**************************************

@include media-responsive-above(960px) {
   body {
      align-items: center;
   }

   .main {
      grid-template-rows: minmax(100vh, max-content);
      grid-template-columns: minmax(max-content, 30rem) 15rem minmax(max-content, 45rem);
      grid-template-areas: "images data";
      align-items: center;

      max-width: 90rem;
      padding-inline-end: var(--size-10);
   }

   .card-preview {
      display: grid;
      gap: var(--size-7);

      background-image: url("./src/images/bg-main-desktop.png");
      background-size: cover;

      & > * {
         position: relative;
         inset: revert;
      }
   }

   .card-back {
      grid-row: 2 / 3;
      align-self: start;

      transform: translateX(50%);
   }
   .card-front {
      grid-row: 1 / 2;
      align-self: end;

      transform: translateX(25%);
   }
   // .card-logo {
   //    scale: 1;
   // }

   .form-preview {
      grid-column: 3 / 4;
      justify-self: center;

      display: grid;
      place-items: center;

      max-width: var(--size-15);
   }
   .conf-preview {
      grid-column: 3 / 4;
      justify-self: center;

      place-items: center;

      width: clamp(var(--size-14), 35vw, var(--size-15));
      text-align: center;
   }
}
