@use "variables" as *;
@use "functions";

%error {
   &::before {
      --top: 1.75rem;

      content: attr(data-error);
      display: inline-block;

      position: absolute;
      top: var(--top);
      left: 0;
      opacity: 0;

      font-size: var(--font-size-0);
      color: var(--primary-red);
      text-transform: initial;
      letter-spacing: var(--font-letterspacing-2);
      white-space: nowrap;

      transition: top 0.2s, opacity 0.2s;
   }
}

span.error {
   @extend %error;
   position: relative;
}

label {
   grid-row: 1/2;

   font-size: var(--font-size-0);
   white-space: nowrap;

   &.hidden {
      position: absolute;
      white-space: nowrap;
      top: 0;
      left: 0;
   }
}

input {
   grid-row: 2/3;

   min-width: calc(var(--max-input-size) / 4);
   font-size: var(--font-size-2);
   color: var(--very-dark-violet);
   background-color: var(--white);
   padding: var(--padding);
   border: 1px solid var(--light-grayish-violet);
   border-radius: var(--radius);
   transition: outline-color 0.2s;

   &:focus-within {
      outline: 1px solid var(--very-dark-violet);
   }

   &::placeholder {
      color: var(--dark-grayish-violet);
   }
   &:placeholder-shown {
      outline-color: hsl(
         calc(278 - (var(--active, 0) * 278)),
         calc((100 - var(--active, 32)) * 1%),
         calc(var(--active, 0) * 55% + 11%)
      );
   }
   &[data-in-error="true"] + span::before {
      opacity: var(--active, 0);
      top: calc(var(--top) + var(--active, 0) * 1.5rem);
   }

   &.input-month,
   &.input-year {
      max-width: calc(var(--max-input-size) / 4);
   }
}

button {
   max-width: var(--max-button-size);
   font-size: var(--font-size-2);
   color: var(--white);
   padding: 0.85em;
   border: none;
   border-radius: var(--radius);
   background-color: var(--very-dark-violet);
   transition: background-color 0.2s;
   cursor: pointer;

   &:is(:hover, :focus-within) {
      background-color: var(--primary-violet);
      outline: inherit;
   }

   &:is(:active) {
      transform: translateY(2px);
   }
   &:disabled {
      background-color: var(--dark-grayish-violet);
   }
}
