@use "variables" as *;
@use "functions";

%error {
   &::before {
      --top: 3.5rem;

      content: attr(data-error);
      display: inline-block;

      position: absolute;
      top: var(--top);
      left: 0;
      opacity: 0;

      text-transform: initial;
      letter-spacing: var(--font-letterspacing-2);
      color: var(--primary-red);

      transition: top 0.2s, opacity 0.2s;
   }
}

label {
   @extend %error;
   grid-row: 1/2;

   font-size: var(--font-size-0);
   position: relative;

   &.hidden {
      position: absolute;
      white-space: nowrap;
      top: 0;
      left: 0;
   }
}

input {
   grid-row: 2/3;

   min-width: calc(var(--max-input-size) / 4);
   font-size: var(--font-size-2);
   color: var(--very-dark-violet);
   padding: var(--padding);
   border: 1px solid var(--light-grayish-violet);
   border-radius: var(--radius);
   transition: outline-color 0.2s;

   &::placeholder {
      color: var(--dark-grayish-violet);
   }
   &:placeholder-shown ~ label::before {
      opacity: var(--active, 0);
      top: calc(var(--top) + var(--active, 0) * 1.25rem);
   }
   &:focus-within {
      outline: 1px solid var(--very-dark-violet);
   }
   &:placeholder-shown {
      outline: calc(var(--active, 0) * 1px) solid
         hsl(
            calc(278 - (var(--active, 0) * 278)),
            calc((100 - var(--active, 32)) * 1%),
            calc(var(--active, 0) * 55% + 11%)
         );
   }

   &.input-month,
   &.input-year {
      max-width: calc(var(--max-input-size) / 4);
   }
}

button {
   font-size: var(--font-size-2);
   color: var(--white);
   padding: 0.85em;
   border: none;
   border-radius: var(--radius);
   background-color: var(--very-dark-violet);
   cursor: pointer;

   &:is(:hover, :focus-within) {
      background-color: var(--primary-violet);
      outline: inherit;
   }

   &:is(:active) {
      transform: translateY(2px);
   }
}
